:root {
    --lh: 1.625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-size: 1rem;
    line-height: var(--lh);
    color: inherit;
    background-color: inherit;
}

body {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(3*var(--lh));
    margin-bottom: 5rem;
    padding-left: 13px; /* half of default line height 16px * 1.625 / 2 */
    padding-right: 13px; /* half of default line height 16px * 1.625 / 2 */
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    color: rgb(13, 13, 13);
    background-color: rgb(255, 255, 255);
}

form {
    text-align: right;
    margin-bottom: var(--lh);
}

input[type="submit"] {
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    margin-bottom: var(--lh);
}

article {
    margin-top: calc(5*var(--lh));
}

h2 {
    font-size: 1.5rem;
    margin-bottom: var(--lh);
}

address {
    margin-bottom: calc(3*var(--lh));
    display:block;
}

p {
    line-height: var(--lh);
    margin-bottom: var(--lh);
}

a {
    color: rgb(41, 100, 170);
    text-decoration: none;
}

a:hover {
    color: rgb(116, 154, 200);    ;
}

img {
    max-width: 100%;
    margin-top: var(--lh);
    margin-bottom: calc(2*var(--lh));
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(236, 236, 236);
        background-color: rgb(33, 33, 33);
    }

    a {
        color: rgb(122, 183, 255);
        text-decoration: none;
    }

    a:hover {
        color: rgb(94, 131, 179);
    }
}