* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
}



@font-face {
    font-family: "HelveticaNowProTextRegular";
    src: url('/font/HelveticaNowProTextRegular.woff2') format('woff2'), url('/font/HelveticaNowProTextRegular.woff') format('woff');
  }



.Body {
    font-family: HelveticaNowProTextRegular, ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.Title {
    text-align: center;
    margin-top: 3rem;
}