<!DOCTYPE html>
<html>
<head>
    <title>Konstantin Koetzner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Konstantin Koetzner</h1>
    <p>This is Konstantin Koetzners's web site.</p>
    <img src="/image.png" alt="Image">
</body>
</html>