<!DOCTYPE html>
<html>
<head>
    <title>Konstantin Koetzner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="Body">
    <h1 class="Title">Konstantin Koetzner</h1>
</body>
</html>