<!DOCTYPE html>
<html>
<head>
    <title>Person</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="Body">
    {{template "Header" .}}
    
    <section class="Person">
        <h2 class="Person-title">Person</h2>
        {{if eq . "en"}}
        <p class="Person-paragraph">I live in munich.</p>
        {{end}}
        {{if eq . "de"}}
        <p class="Person-paragraph">Ich wohne in München.</p>
        {{end}}
    </section>
</body>
</body>